/* Francesco Filippini */

@import url('title.css');
@import url('global.css');

body > nav {
    z-index: 9999;
}

body > nav > ul {
    list-style: none;
    /* It's important to put margin and padding to 0 to avoid unexpected browser behavior */
    margin: 1% 0;
    padding: 0;
}

body >  nav > ul {
    text-align: center;
}  

body > nav > ul > li {
    display: inline-block;
    box-sizing: border-box;
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    background-color: var(--chamoisee-opaque);
}

body > nav > ul > li:not(:last-child) {
    margin-right: 1%;
}


body > nav > ul > li > a {
    display: block;
    font-size: 110%;
    padding: 5px 0;
    text-decoration: none;
}

