## GENERAL ##

tmp/
logs/
resources/users/

## VSCODE ##

.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

## DB-MAIN ##

# tmp files

.~*.lun*
